.dub
docs.json
__dummy.html
docs/
/genetic_car
genetic_car.so
genetic_car.dylib
genetic_car.dll
libgenetic_car.a
genetic_car.a
genetic_car.lib
genetic_car-test-*
/data
gamecontrollerdb.txt
libSDL2-2.0.so.0
libSDL2_image-2.0.so
*.exe
*.pdb
*.o
*.obj
*.lst
